{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}<title>New Loan</title>{% endblock %}

{% block bootstrapClass %}
<link rel="stylesheet" type="text/css" href="{% static 'loan/loan-css/loan-create.css' %}">
 {% endblock %}    
{% load crispy_forms_tags %}


{% block content %}
{% include 'loan/loan-base.html' %}


<div class="content-section">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset style="text-align: center; display: flex; flex-wrap: wrap;
        padding-left: 0; flex: 0 0 33.333333%; gap: 30px;" class="form-group">
            <legend class="border-bottom mb-4">Create loan</legend>
            {{form.media}}
            {{form|crispy}}
            
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info mt-3 create-button" type="submit">Create</button>
        </div>
    </form>
 
</div>



{% endblock content %}


