
{% extends "dashboard/base.html" %}
{%load static %}

{% block title %}<title>Logout</title>{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

        <h2 style="color:white">You have been logged out</h2>
        <div class="border-top pt-3">
            <small style="color: white;" class="text-muted">Log back in?<a href="{%url 'dashboard:login' %}">log in</a></small>
            <small  style='color: white;' class="text-muted">Need an account?<a href="{%url 'dashboard:signup' %}">Register Here</a></small>
        </div>
    
{% endblock content %}